.messages {
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    img {
        width: 36px;
        border-radius: 50%;
    }
}

.message {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background: #f0f4f8;

    &::before {
        content: '';
        height: 0;
        width: 0;
        top: 9px;
        position: absolute;
        pointer-events: none;
        border: solid transparent;
        border-width: 7px;
    }
}

.__my {
    flex-direction: row-reverse;

    .message {
        padding-right: 15px;
        margin-right: 15px;
        background: #dcf4fc;

        &::before {
            left: 100%;
            border-left-color: #dcf4fc;
        }
    }
}

.__other {
    .message {
        margin-left: 15px;
        padding-left: 15px;

        &::before {
            right: 100%;
            border-right-color: #f6f6f6;
        }
    }
}

.message__user-name {
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.message__time {
    font-size: 11px;
    color: #999;
    font-weight: 600;
}

.message__text {
    margin-top: 7px;
    font-size: 13px;
    color: #777777;
}