@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 20px;
  background: #C5DDEB;
  font-family: 'Noto Sans', sans-serif; }

.chat {
  width: 35%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3); }
  @media (max-width: 1000px) {
    .chat {
      width: 350px; } }

.chat-header {
  background: #42A7A1;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center; }
  .chat-header h1 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px; }

.chat-history {
  height: 550px;
  overflow-y: auto;
  padding: 20px; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0; }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3); }

.chat-form {
  margin-top: 10px;
  border-top: 1px solid #f6f6f6;
  padding: 10px 20px 20px;
  text-align: right; }
  .chat-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #e3e0e0;
    outline: none;
    font-size: 13px;
    color: #555;
    resize: vertical; }
  .chat-form input[type='submit'] {
    padding: 4px 25px;
    background: #75b1e8;
    line-height: 25px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    border: 0; }
    .chat-form input[type='submit']:focus {
      outline: none; }
    .chat-form input[type='submit']:active {
      outline: none;
      -webkit-box-shadow: inset 0 0 40px #237fd4;
              box-shadow: inset 0 0 40px #237fd4; }

.messages {
  padding: 0;
  margin: 0; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px; }
  .item img {
    width: 36px;
    border-radius: 50%; }

.__my .message {
  margin-left: 15px;
  background: #f6f6f6; }
  .__my .message::before {
    right: 100%;
    border: solid transparent;
    border-right-color: #f6f6f6;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    top: 10px; }

.__other {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .__other .message {
    margin-right: 15px;
    background: #f6f6f6; }
    .__other .message::after {
      left: 100%;
      border: solid transparent;
      border-left-color: #f6f6f6;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 10px;
      top: 10px; }

.message {
  padding: 10px;
  border-radius: 5px;
  position: relative; }

.message__user-name {
  font-size: 13px;
  font-weight: bold;
  color: #000; }

.message__time {
  font-size: 11px;
  color: #999; }

.message__text {
  font-size: 13px;
  color: #777777; }
